h1{
    background-color: aqua;
    text-align: center;
    padding: 3px;
    margin:0;
}
#first{

}
.first{
    background-color: rgb(189, 245, 245);
    padding: 10px 15px;
    margin: 0px;
    border: 5px solid rgb(218, 250, 229);
    /* border-radius: 70px 0; */
}
.second{
    background-color: rgb(218, 250, 229);
    padding: 10px 15px;
    border: 5px solid rgb(189, 245, 245);
    /* border-radius: 70px 70px; */
    line-height: 20px;
}
.died{
    text-decoration: underline;
    display:block;
    color:red
}
body{
    margin:0px;
    background-color:rgb(160, 223, 181);
}
.math{
    font-size: 20px;
    text-decoration: underline;
    font-weight: bolder;
    margin-bottom: 07px;
    border:5px solid rgb(141, 190, 141);
    padding: 5px;
    border-radius: 7px 20px;
    
    width:130px;
    background-color: rgb(74, 185, 74);

}
.phy{
    font-size: 20px;
    text-decoration: underline;
    font-weight: bolder;
    margin-bottom: 07px;
    border:5px solid rgb(31, 71, 31);
    padding: 5px;
    border-radius: 7px 20px;
    
    width:130px;
    background-color: rgb(164, 163, 233);
}
.chy{
    font-size: 20px;
    text-decoration: underline;
    font-weight: bolder;
    margin-bottom: 07px;
    border:5px solid rgb(162, 184, 162);
    padding: 5px;
    border-radius: 7px 20px;
    
    width:130px;
    background-color: rgb(185, 211, 114);
}
.bot{
    font-size: 20px;
    text-decoration: underline;
    font-weight: bolder;
    margin-bottom: 07px;
    border:5px solid rgb(20, 20, 20);
    padding: 5px;
    border-radius: 7px 20px;
    
    width:200px;
    background-color: rgb(233, 163, 215);
}
#secon{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-decoration:underline;
}
img{
    height: 350px;
    width:300px;

}
.last{
    font-size: 20px;
    font-family: bolder;
    background-color: #68c79b;
    padding:10px;
    width:250px;
    border:10px solid green;
    box-shadow: 7px 7px rgb(233, 61, 204);
}
#duchi{
    font-size: 22px;
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
    border: 5px solid gray;
    padding: 5px;
    width:auto;
    background-color: rgb(94, 199, 199);
}